[submodule "global/.config/nvim"]
	path = global/.config/nvim
	url = git@github.com:e-cal/evim.git
	branch = ecal
[submodule "global/kbd/Adv360-Pro-ZMK"]
	path = global/kbd/Adv360-Pro-ZMK
	url = git@github.com:e-cal/Adv360-Pro-ZMK.git
