@import "css/colors";

@mixin rounding {
  border-radius: 16px;
}

@mixin window {
  background-color: $windowbg;
  background-position: center;
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: $fg;
  margin: 5px 5px 10px;
  @include rounding;
}

* {
  all: unset;
  font-family: Jost, JetBrains Mono, sans-serif;
  transition: 200ms ease;
}

@import "css/calendar";
@import "css/indicators";
@import "css/music";
@import "css/osd";
@import "css/sidebar";
@import "css/system";
@import "css/volume";

.bar {
  background-color: $bg;
  color: $fg;

  label {
    font-size: 1.2rem;
  }
}

tooltip {
  background: $bg;
  border: 1px solid $border;
  border-radius: 8px;
  color: $fg;

  label {
    font-size: 1rem;
  }
}

/* text font */
.text,
.text label {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* icon font */
.icon,
.icon label {
  // font-family: NotoSans Nerd Font Propo;
  font-family: Material Icons;
  // font-family: Material Symbols Outlined;
}

.module {
  margin: 0 5px;
}

/* date & time */
.hour {
  font-weight: bold;
  padding-left: 5px;
}

.minute {
  padding-right: 0.7rem;
}

.date {
  color: $flamingo;
}

/* right-aligned modules */
.bright-icon {
  color: $yellow;
  font-family: JetBrains Mono;
}
.module-bt {
  font-size: 1.5rem;
}

/* scales */
scale trough {
  background-color: $bg1;
  border-radius: 24px;
  margin: 0 1rem;
  min-height: 10px;
  min-width: 70px;
}

/* workspaces */
.focused {
  background-color: $bg;
  border-radius: 1rem;
  margin: 0.3rem;
  padding: 0.25rem;
}

.workspaces {
  margin-left: 10px;
}

.ws {
  border-radius: 2rem;
  margin: 0.7rem 0.3rem;
}
